<h1 mat-dialog-title>Add a Sensor</h1>
<div mat-dialog-content>In the following forms, enter the name and the devEUI of the sensor.</div>
<form [formGroup]= "sensorForm">
    <div>
        <mat-form-field appearance="standard">
        <mat-label>name</mat-label>
        <input formControlName="name" id="name" matInput placeholder="Name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Name of the Sensor</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="standard">
        <mat-label>devEUI</mat-label>
        <input formControlName="devEUI" id="devEUI" matInput placeholder="DevEUI">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>DevEUI of the Sensor</mat-hint>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (*ngIf)=[isEditDialog] (click)= "addSensor($event)">Add Sensor</button>
        <button mat-button mat-dialog-close>Close</button>
    </div>
</form>